/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { font-family: 'Open Sans'; font-size: 16px; line-height: 24px; }
.color-magenta,
.color-magenta:hover,
.color-magenta:active,
.color-magenta:focus { color: #906; }
.logo { margin: 15px 0 0 -32px; }
header { color: #fff; background: url(../img/stanley-kubrick-2001-space-odyssey-low-quality.jpg?ver=16092014) top center no-repeat; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), url(../img/stanley-kubrick-2001-space-odyssey-low-quality.jpg?ver=16092014); background-size: cover; padding: 0 47px 100px 47px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
header h1 { font-weight: bold; font-size: 65px; margin-top: 0; }
header q { font-style: italic; font-size: 25px; }
header .stripe { margin-top: 250px; border-left: 15px solid rgba(255, 255, 255, 0.2); margin-left: -47px; padding: 20px 20px 20px 47px; }
.logo,
header,
header h1,
header q,
header .stripe { transform: translateZ(0deg); }
.subtitle { font-style: italic; font-size: 18px; font-weight: 300; }
.subtitle:before { border-top: 2px solid #000; content: " "; display: block; margin: 35px auto; width: 150px; }
.beyond .row .row [class*="col-"] [class*="icon-"] { opacity: 0.5; margin: 50px auto 20px auto; display: block; font-size: 66px; line-height: 66px; text-align: center; }
.beyond .row .row [class*="col-"] { transition: all 200ms ease 0s; }
.beyond .row .row [class*="col-"]:hover { transition: all 200ms ease 0s; -webkit-transform: scale(1.1); transform: scale(1.1); }
.alert { border-radius: 0; margin: 0; }



/* sections */
section { padding: 100px 0; }
section h1,
section h2 { font-family: 'Alegreya Sans SC'; text-transform: uppercase; font-size: 46px; margin-top: 0; }
.beyond h1,
.beyond h2 { text-align: center; }
.beyond h1 { margin-top: -50px; }
.beyond h2 { font-size: 24px; color: #000; margin: 0 0 30px; }

.featured { background-color: #ececec; overflow: hidden; }
.featured h2 { font-family: 'Open Sans'; font-size: 18px; font-weight: 300; text-transform: none; margin-bottom: 30px; }
.text-big { font-size: 18px; font-weight: 300; }
.featured .container { position: relative; min-height: 500px; }
.featured .btn { margin-top: 5px; text-transform: uppercase; font-weight: 300; }
.nexus10 { background: url(../img/nexus10.png?ver=16092014) center center no-repeat; right: -300px; top: -40px; }
.nexus5 { background: url(../img/nexus5.png?ver=16092014) center center no-repeat; }
.nexus10,
.nexus5 { width: 800px; height: 600px; background-size: 100% 100%; position: absolute; cursor: pointer; }
.portfolio-tablet { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); transition: all 500ms ease 0s; background: url(../img/portfolio-tablet.jpg?ver=16092014) center 379px no-repeat; background-size: 100% auto; position: absolute; width: 607px; height: 379px; top: 87px; left: 114px; }
.portfolio-smartphone { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); transition: all 500ms ease 0s; background: url(../img/portfolio-smartphone.jpg?ver=16092014) 178px center no-repeat; background-size: auto 100%; position: absolute; width: 178px; height: 316px; top: 216px; left: 27px; }
.novalite .portfolio-tablet { background-position: center 0px; }
.tt .portfolio-tablet { background-position: center -379px; }
.vackor .portfolio-tablet { background-position: center -758px; }
.novalite .portfolio-smartphone { background-position: 0px center; }
.tt .portfolio-smartphone { background-position: -178px center; }
.vackor .portfolio-smartphone { background-position: -356px center; }
.portfolio-descriptions li { transition: all 500ms ease 0s; float: left; display: none; }
.blank .portfolio-descriptions li:nth-child(1),
.novalite .portfolio-descriptions li:nth-child(1),
.tt .portfolio-descriptions li:nth-child(2),
.vackor .portfolio-descriptions li:nth-child(3) { display: block; }

.intermission { background-color: #000; overflow: hidden; cursor: url(../img/eva-pod-cursor64x64.png?ver=16092014) 32 32, crosshair; }
.intermission h1,
.intermission p { color: #fff; }
.intermission .container { position: relative; min-height: 300px; }

.start { background: #906 url(../img/solar-system.png?ver=16092014) no-repeat top center; background-size: 1600px 440px; }
.start h1 { font-family: 'Open Sans'; color: #fff; text-transform: none; font-weight: 300; margin-bottom: 80px; }
.start .btn { border-radius: 0; padding: 18px 50px; }
.start .btn-default { background: none transparent; border: 1px solid #fff; color: #fff; transition: all 200ms ease 0s; }
.start .btn-default:hover,
.start .btn-default:active,
.start .btn-default:focus { background-color: #fff; border-color: #fff; color: #906; transition: all 200ms ease 0s; }
.start .btn-primary,
.start .btn-primary:hover,
.start .btn-primary:active,
.start .btn-primary:focus { background: none #fff; border: 1px solid #fff; color: #906; margin-left: 40px; transition: all 200ms ease 0s; }
.start .btn-primary:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.stars { background: url(../img/moon-surface.png?ver=16092014) bottom center no-repeat; background-size: 100% auto; }
.stars .container { position: relative; }
.moonlanders { background: transparent url(../img/moonlanders.png?ver=16092014) top left no-repeat; width: 525px; height: 300px; background-size: 100% 100%; position: absolute; bottom: -100px; right: 110px; }



/* footer */
footer { background-color: #333; color: #666; padding: 50px 0; }
footer a,
.color-light,
footer a:hover,
footer a:active,
footer a:focus { color: #ccc; transition: all 200ms ease 0s; }
footer p { margin-bottom: 0; }
footer p:nth-child(1) { margin-bottom: 30px; }
footer p:nth-child(2) { margin-bottom: 15px; }
.logo-footer { background-color: #393939; padding: 26px 36px; vertical-align: middle; border-radius: 50%; margin-top: -70px; }
.logo-footer .icon-expecticons-et { display: block; margin: auto; font-size: 78px; line-height: 78px; color: #ccc; }
.logo-footer:hover { transition: all 200ms ease 0s; -webkit-transform: rotate(-5deg) scale(1.2); transform: rotate(-5deg) scale(1.2); }
.logo-footer p { height: 20px; line-height: 20px; margin: 0 !important; font-size: 14px; font-style: italic; }
.list-social { clear: both; margin-top: 30px; }
.list-social a { font-size: 20px; color: #666; text-decoration: none; position: absolute; right: 0; }
.list-social a:hover { -webkit-transform: scale(1.3); transform: scale(1.3); }
.list-social > li { padding-left: 0; padding-right: 0; position: relative; width: 40px; }



/* monolith */
.monolith-container { width: 120px; height: 270px; position: relative; -webkit-perspective: 500px; perspective: 500px; margin-top: 50px; }
.monolith { -webkit-animation: spinX 30s infinite linear; animation: spinX 30s infinite linear; position: absolute; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; transition: transform 1s ease 0s; width: 100%; height: 100%; }
.monolith figure { display: block; position: absolute; background-color: rgba(153, 0, 102, 0.5); backface-visibility: hidden; }
.monolith .front,
.monolith .back { height: 270px; width: 120px; }
.monolith .right,
.monolith .left { height: 270px; left: 45px; width: 30px; }
.monolith .top,
.monolith .bottom { height: 30px; top: 120px; width: 120px; }
.monolith .front { -webkit-transform: rotateX(0deg) translateZ(15px); transform: rotateX(0deg) translateZ(15px); }
.monolith .back { -webkit-transform: rotateX(-180deg) translateZ(15px); transform: rotateX(-180deg) translateZ(15px); backround-color: yellow; }
.monolith .right { -webkit-transform: rotateY(90deg) translateZ(60px); transform: rotateY(90deg) translateZ(60px); backround-color: white; }
.monolith .left { -webkit-transform: rotateY(-90deg) translateZ(60px); transform: rotateY(-90deg) translateZ(60px); backround-color: black; }
.monolith .top { -webkit-transform: rotateX(90deg) translateZ(135px); transform: rotateX(90deg) translateZ(135px); backround-color: green; }
.monolith .bottom { -webkit-transform: rotateX(-90deg) translateZ(135px); transform: rotateX(-90deg) translateZ(135px); backround-color: blue; }
.no-csstransforms3d .monolith .back,
.no-csstransforms3d .monolith .right,
.no-csstransforms3d .monolith .left,
.no-csstransforms3d .monolith .top,
.no-csstransforms3d .monolith .bottom { display: none; }


@-webkit-keyframes spinX {
    0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
    100% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
}

@keyframes spinX {
    0% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
    100% { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
}



/* Dr. Frank Poole */
.animation-placeholder { font-size: 30px; cursor: pointer; }
.animation-spin { -o-animation: spinZ 4s infinite linear; -webkit-animation: spinZ 4s infinite linear; animation: spinZ 4s infinite linear; position: absolute; right: 100px; bottom: 50px; color: #fff; font-size: inherit; transform: translateZ(0deg); }
.animation-flyoff { -o-animation: enlarge 2s 1 cubic-bezier(1,0,1,0); -webkit-animation: enlarge 2s 1 cubic-bezier(1,0,1,0); animation: enlarge 2s 1 cubic-bezier(1,0,1,0); transform: translateZ(0deg); }
.animation-spin span { display: inline-block; }

@-o-keyframes spinZ {
    0% { -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes spinZ {
    0% { -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spinZ {
    0% { -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes enlarge {
    0% { font-size: 30px; }
    100% { font-size: 3000px; }
}

@-webkit-keyframes enlarge {
    0% { font-size: 30px; }
    100% { font-size: 3000px; }
}

@keyframes enlarge {
    0% { font-size: 30px; }
    100% { font-size: 3000px; }
}



/* responsive */
@media (min-width: 1600px) {
    .stars { background-position: center 300px; }
}

@media (min-width: 1200px) {
    .beyond .row .row [class*="col-"] { padding: 0 40px; }
    .moonlanders { right: 130px; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .featured .container { min-height: 610px; }
    .nexus10 { right: -450px; }
    .logo-footer { margin-top: -50px; }
    .moonlanders { right: 70px; }
}

@media (max-width: 767px) {
    .container { padding-left: 40px; padding-right: 40px; }
    section { padding: 40px 0; }
    .row .row [class*="col-"] { padding: 0 15px; }
    .logo { margin: 0 0 0 -52px; }
    header { padding: 0 47px 47px; overflow: hidden; text-overflow: ellipsis; }
    header .stripe { margin-top: 0; padding: 15px 20px 15px 42px; }
    header h1 { font-size: 50px; }
    header q { font-size: 20px; }
    .beyond h1 { margin-top: 0; }
    .moonlanders { bottom: -40px; height: 200px; right: 50px; width: 350px; }
    .stars { background-size: 140% auto; }
    .start { padding: 80px 0; }
    .logo-footer { margin-top: 0; float: left !important; margin-top: 30px; }
    .list-social { margin-top: 10px; }
    .nexus10 { position: static; margin: 20px 0; }
    .portfolio-descriptions { min-height: 220px; }
}

@media (max-width: 480px) {
    .start .btn,
    .start .btn-primary,
    .start .btn-primary:hover,
    .start .btn-primary:active,
    .start .btn-primary:focus { display: block; margin: 0; }
    .moonlanders { bottom: -40px; height: 150px; right: 30px; width: 263px; }
    .portfolio-descriptions { min-height: 320px; }
}

@media (max-width: 320px) {
    .logo { margin: 0 0 0 -62px; }
    header h1 { font-size: 32px; }
    header q { font-size: 18px; }
    header .stripe { padding: 15px 20px 15px 32px; }
    .portfolio-descriptions { min-height: 400px; }
}
